/******
Reset
******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Open Sans", serif;
}


/******
Header
******/

header {
    background-color: #FFFFFF;
    padding: 30px 20px;
}

nav {
    height: 20px;
    width: 1870px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

/******
General
******/

ul {
    list-style: none;
}

nav div ul li a {
    text-decoration: none;
    color: #000000;
}


/******
Button
******/

.blu-button {
    background-color: #0061fe ;
    padding: 10px 17px;
    border: 0px;
    color: #FFFFFF;
}